/* From Uiverse.io by satyamchaudharydev */ 
.card {
  --primary-clr: #f2ecdd;
  width: 100%;
  /* height: 150px; */
  border-radius: 10px;
 }
 
 .card {
  color: #0b0b0b;
  display: grid;
  cursor: pointer;
  grid-template-rows: 50px 1fr;
 }
 
 .card:hover .img-section {
  transform: translateY(0);
 }
 
 .card-desc {
  border-radius: 10px;
  padding: 15px;
  position: relative;
  top: -10px;
  display: grid;
  gap: 10px;
  background: var(--primary-clr);
 }
 
 .card-time {
  font-size: 1.7em;
  font-weight: 500;
 }
 
 .img-section {
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #0b0b0b;
  transform: translateY(3em);
 }
 
 .card-header {
  display: flex;
  align-items: center;
  width: 100%;
 }
 
 .card-title {
  flex: 1;
  font-size: 0.9em;
  font-weight: 500;
 }
 
 .card-menu {
  display: flex;
  gap: 4px;
  margin-inline: auto;
 }
 
 .card .recent {
  line-height: 0;
  font-size: 0.8em;
 }
 
 /* timer */
.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.countdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
  font-weight: bold;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
